.card__appart {
    background-color: $color-secondary;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0px 25px 0px;
    padding: 56px 50px 0px 50px;

    .card__appart1 {
        width: 29.9%;
        margin-bottom: 40px;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            border-radius: 10px;
            height: 340px;
            position: relative;
            filter: brightness(70%);
        }

        h2 {
            margin: 0px;
            font-size: 18px;
            position: absolute;
            bottom: 0px;
            padding: 15px;
            color: white;
        }
    }

}