.error__contend {
    color: $color-primary;
    text-align: center;

    h1 {
        font-size: 288px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p {
        font-size: 36px;
        font-weight: 500;
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .error__lien {
        color: $color-primary;
        text-decoration: underline;
        font-weight: 500;
        margin-top: 100px;
    }

}