header {
.header__contend {
    display: flex;
    align-items: center;
}
    

    .header__logo {
        display: block;
    }

    .header__nav {
        display: flex;
        justify-content: flex-end;
        flex: 1;

        .nav__ul {
            display: flex;

            .nav__a {
                padding: 45px 20px;
                color: $color-primary;
                font-size: 24px;
                display: block;
                font-weight: 500;
            }
        }
    }
}
