.tiroir__contend {
    margin: 25px 108px 0px 108px;

.header {
    background: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    h2{
        font-size: 24px;
        margin: 0;
        color: white;
    }
}

.text {
    
    p {
    background: #F6F6F6;
    color:$color-primary;
    font-size: 24px;
    margin-top: 0;
    padding: 36px 27px 19px 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px ;
   
    }
}
}