@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.42857143;

}

.container {
  margin: 0px 100px;
}

.container--footer {
  margin:0;
}

a {
  text-decoration: none;
  color : black;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}


// Variables couleurs
$color-primary:#FF6060;
